In [2]:
import pandas as pd
from sqlalchemy import create_engine
from config import POSTGRES

# Build connection string
conn_str = (
    f"postgresql://{POSTGRES['user']}:{POSTGRES['password']}"
    f"@{POSTGRES['host']}:{POSTGRES['port']}/{POSTGRES['database']}"
)
engine = create_engine(conn_str)
print("Connected to database!")

Connected to database!

In [3]:
neg_men = pd.read_sql("""
    SELECT * FROM matches_men
    WHERE home_score < 0 OR away_score < 0
""", engine)
neg_men

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, gender]
Index: []

In [4]:
neg_women = pd.read_sql("""
    SELECT * FROM matches_women
    WHERE home_score < 0 OR away_score < 0
""", engine)
neg_women

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, gender]
Index: []

In [6]:
high_scores_men = pd.read_sql("""
    SELECT * FROM matches_men
    WHERE home_score > 20 OR away_score > 20
""", engine)
high_scores_men

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,gender
0,1966-04-03,Libya,Oman,21,0,Arab Cup,Baghdad,Iraq,True,M
1,1971-09-13,Tahiti,Cook Islands,30,0,South Pacific Games,Papeete,Tahiti,False,M
2,1979-08-30,Fiji,Kiribati,24,0,South Pacific Games,Nausori,Fiji,False,M
3,2001-04-09,Australia,Tonga,22,0,FIFA World Cup qualification,Coffs Harbour,Australia,False,M
4,2001-04-11,Australia,American Samoa,31,0,FIFA World Cup qualification,Coffs Harbour,Australia,False,M
5,2005-03-11,Guam,North Korea,0,21,EAFF Championship,Taipei,Taiwan,True,M
6,2006-11-24,Sápmi,Monaco,21,1,Viva World Cup,Hyères,France,True,M

In [7]:
high_scores_women = pd.read_sql("""
    SELECT * FROM matches_women
    WHERE home_score > 20 OR away_score > 20
""", engine)
high_scores_women

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,gender
0,1995-09-24,China PR,Philippines,21,0,AFC Championship,Kota Kinabalu,Malaysia,True,F
1,1997-12-05,Japan,Guam,21,0,AFC Championship,Guangdong,China PR,True,F
2,1998-08-28,Canada,Puerto Rico,21,0,CONCACAF Championship,Toronto,Canada,False,F
3,1998-12-09,New Zealand,Samoa,21,0,OFC Championship,Auckland,New Zealand,False,F
4,1998-12-09,Australia,American Samoa,21,0,OFC Championship,Auckland,New Zealand,True,F
5,2001-12-06,North Korea,Singapore,24,0,AFC Championship,New Taipei City,Taiwan,True,F
6,2006-11-10,Cameroon,South Africa,2,24,African Championship,Delta,Nigeria,True,F
7,2007-10-03,Cuba,British Virgin Islands,21,0,CONCACAF Olympic Qualifying Tournament qualifi...,Santo Domingo Este,Dominican Republic,True,F
8,2013-06-07,Jordan,Kuwait,21,0,AFC Asian Cup qualification,Amman,Jordan,False,F
9,2022-04-09,British Virgin Islands,Haiti,0,21,CONCACAF Championship qualification,Road Town,British Virgin Islands,False,F

In [8]:
neutral_issue_men = pd.read_sql("""
    SELECT * FROM matches_men
    WHERE neutral = TRUE AND home_team = country
""", engine)
neutral_issue_men

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,gender
0,1960-11-27,Curaçao,Suriname,0,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
1,1961-04-23,Curaçao,Costa Rica,2,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
2,1961-05-21,Curaçao,Mexico,0,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
3,1980-11-29,Curaçao,Trinidad and Tobago,0,0,CONCACAF Championship qualification,Willemstad,Curaçao,True,M
4,1980-12-12,Curaçao,Haiti,1,1,CONCACAF Championship qualification,Willemstad,Curaçao,True,M
5,1984-09-29,Curaçao,United States,0,0,CONCACAF Championship qualification,Willemstad,Curaçao,True,M
6,1988-07-29,Curaçao,Antigua and Barbuda,3,1,CONCACAF Championship qualification,Willemstad,Curaçao,True,M
7,1988-10-01,Curaçao,El Salvador,0,1,CONCACAF Championship qualification,Willemstad,Curaçao,True,M
8,1989-04-26,Curaçao,Martinique,3,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
9,1989-06-03,Curaçao,British Virgin Islands,4,0,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
10,1990-05-27,Curaçao,Suriname,1,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
11,1992-04-19,Curaçao,Antigua and Barbuda,1,1,FIFA World Cup qualification,Willemstad,Curaçao,True,M
12,1992-09-11,Tahiti,Australia,0,3,FIFA World Cup qualification,Papeete,Tahiti,True,M
13,1992-10-09,Tahiti,Solomon Islands,4,2,FIFA World Cup qualification,Papeete,Tahiti,True,M
14,1995-05-14,Curaçao,Aruba,3,2,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
15,1995-08-17,Tahiti,Wallis Islands and Futuna,13,0,South Pacific Games,Papeete,Tahiti,True,M
16,1995-08-19,Tahiti,Solomon Islands,4,2,South Pacific Games,Papeete,Tahiti,True,M
17,1995-08-21,Tahiti,New Caledonia,2,0,South Pacific Games,Papeete,Tahiti,True,M
18,1995-08-22,Tahiti,Cook Islands,11,0,South Pacific Games,Papeete,Tahiti,True,M
19,1995-08-24,Tahiti,Vanuatu,3,0,South Pacific Games,Papeete,Tahiti,True,M
20,1995-08-26,Tahiti,Solomon Islands,2,0,South Pacific Games,Papeete,Tahiti,True,M
21,1996-03-23,Curaçao,Grenada,0,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
22,1996-05-11,Curaçao,Dominican Republic,0,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
23,1996-05-11,Tahiti,Solomon Islands,2,1,Oceania Nations Cup,Papeete,Tahiti,True,M
24,1996-10-27,Tahiti,Australia,0,6,Oceania Nations Cup,Papeete,Tahiti,True,M
25,1999-05-04,Curaçao,Grenada,1,3,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
26,1999-05-08,Curaçao,Suriname,1,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
27,2000-03-18,Curaçao,Trinidad and Tobago,1,1,FIFA World Cup qualification,Willemstad,Curaçao,True,M
28,2000-06-22,Tahiti,Vanuatu,2,3,Oceania Nations Cup,Papeete,Tahiti,True,M
29,2004-03-31,Curaçao,Antigua and Barbuda,3,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
30,2004-06-12,Curaçao,Honduras,1,2,FIFA World Cup qualification,Willemstad,Curaçao,True,M
31,2006-09-06,Curaçao,Grenada,1,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
32,2006-09-08,Curaçao,Guyana,0,5,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
33,2006-09-10,Curaçao,Suriname,0,1,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
34,2006-11-20,Philippines,Brunei,4,1,AFF Championship qualification,Bacolod,Philippines,True,M
35,2008-03-26,Curaçao,Nicaragua,2,0,FIFA World Cup qualification,Willemstad,Curaçao,True,M
36,2008-06-22,Curaçao,Haiti,0,1,FIFA World Cup qualification,Willemstad,Curaçao,True,M
37,2008-07-27,Curaçao,Aruba,0,0,CFU Caribbean Cup qualification,Willemstad,Curaçao,True,M
38,2012-09-11,Tahiti,New Caledonia,0,4,FIFA World Cup qualification,Pirae,Tahiti,True,M
39,2012-10-12,Tahiti,New Zealand,0,2,FIFA World Cup qualification,Pirae,Tahiti,True,M
40,2013-03-22,Tahiti,Solomon Islands,2,0,FIFA World Cup qualification,Pirae,Tahiti,True,M
41,2016-11-07,Tahiti,Solomon Islands,3,0,FIFA World Cup qualification,Pirae,Tahiti,True,M
42,2022-09-21,Brunei,Maldives,0,3,Friendly,Bandar Seri Begawan,Brunei,True,M
43,2022-09-27,Brunei,Laos,1,0,Friendly,Bandar Seri Begawan,Brunei,True,M

In [9]:
neutral_issue_women = pd.read_sql("""
    SELECT * FROM matches_women
    WHERE neutral = TRUE AND home_team = country
""", engine)
neutral_issue_women

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,gender
0,2023-10-27,Trinidad and Tobago,Puerto Rico,1,2,CONCACAF Gold Cup qualification,Port of Spain,Trinidad and Tobago,True,F
1,2023-10-29,Uzbekistan,Japan,0,2,AFC Olympic Qualifying Tournament,Tashkent,Uzbekistan,True,F
2,2023-10-31,Puerto Rico,Trinidad and Tobago,0,0,CONCACAF Gold Cup qualification,Bayamón,Puerto Rico,True,F

In [10]:
missing_tournament_men = pd.read_sql("""
    SELECT * FROM matches_men
    WHERE tournament IS NULL OR tournament = ''
""", engine)
missing_tournament_men

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, gender]
Index: []

In [5]:
missing_tournament_women = pd.read_sql("""
    SELECT * FROM matches_women
    WHERE tournament IS NULL OR tournament = ''
""", engine)
missing_tournament_women

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, gender]
Index: []